h5 {
    color: #fefefe;
    font-weight: 600;
    margin: 50px 0 30px 0;
}

.datePicker {
    display: absolute;
    top: 50vh;
    color: #fefefe;
}

.fa-calendar {
    color: blue;
}

label {
    margin: 20px 0 20px 0;
}

.to.from {
    margin-right: 20px;
}